###############################################################################
# Enforce LF line endings for text files while preserving binary files.
###############################################################################
* text=auto eol=lf
